@charset "utf-8";
/* CSS Document */
/* GENERALES */
html {
	-webkit-transform: translate3d(0,0,0);
}
body, html {
	background-color: black;
}
#contenedor {
	width: 1720px;
	margin: 0 auto;
	background-image:url(../imgs/comunes/fondo_friso.png);;
	background-repeat:repeat-y;
	background-size:100% auto;
	background-color: white;
}
#cabecera {
	height: 340px;
	overflow: hidden;
	background-color:#f16f6e;
}
#cabecera img {
	display: block;
	margin:0 auto;
}
.bloquesOcultos {
	display: none;
}
.contFoto {
	width: 1720px;
	height: 968px;
	overflow: hidden;
}
.contFoto div {
	position: relative;
	/*border: 1px solid red;*/
	padding:0px;
	margin:0px;
	display: block;
}
.textos {
	width:100%; 
	font-family: 'Arapey', serif;
	font-size: 1em;
	margin: 0px;
}
.textos .container {
	padding: 10px 50px;
	text-align: center;
	margin-bottom: 20px;
}
.textos div p img {
	margin-top: 5px;
}
.textos .respuestaA {
	float: left;
	width: 22%;
	color: #ab3130;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
}
.textos .respuestaB {
	float: left;
	width: 22%;
	color: #ab3130;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
	margin-bottom: 20px;
}
.respuestaA .letra, .respuestaB .letra {
	float:left;
	width: 25%;
}
.respuestaA .letra img, .respuestaB .letra img {
	width: 100%;
}
.respuestaA .textos, .respuestaB .textos {
	float:left;
	width: 75%;
}
.respuestaErronea {
	border-radius:8px; 
	background-color: #f16f6e; 
	margin:20px 50px; 
	padding: 100px;
}
.respuestaErronea div {
	margin: 0 auto; 
	text-align:center;
	font-size: 1.5em;
}
.respuestaErronea img {
	margin: 0 auto;
}
.respuestaErronea span {
	font-size: 1.8em;
}
.respuestaErronea span a {
	color:white;
}
/* TEXTO DESBLOQUEADO */
.textoDesbloqueado {
	background-color:#f16f6e;
}
.conTextoDesbloqueado {
	width:1000px; 
	margin: 0 auto;
}
.tdColIzq {
	width:133px; 
	float: left; 
	background:url(../imgs/comunes/textoDesLB.png) bottom right no-repeat;
}
.tdColDer{
	width:136px; 
	float: left; 
	background:url(../imgs/comunes/textoDesRB.png) bottom right no-repeat;
}
.tdCentral {
	width:700px; 
	background-color: white; 
	float: left; 
	padding: 15px; 
	font-family: 'Open Sans', sans-serif; 
	line-height: 1.6em; 
	text-align:justify; 
	font-weight: 400;  
}
.tdCentral strong {
	font-weight: 700;
}
/*PRIMER FOTOGRAMA*/
#fotograma1 {
	background-color:#f16f6e;
}
#capa10 {
	z-index: 1;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena1/fondo.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa11 {
	z-index: 2;
	margin-top:-968px;
	width: 2019px;
	height: 968px;
	margin-left:-400px;
	background: url(../imgs/escena1/7_nube-fondo.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa12 {
	z-index: 3;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena1/6_4o-plano-castillo.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa13 {
	z-index: 4;
	margin-top:-968px;
	width: 2019px;
	height: 968px;
	background: url(../imgs/escena1/5_NieblaMedia.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa14 {
	z-index: 5;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena1/4_3er-plano.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa15 {
	z-index: 6;
	margin-top:-968px;
	width: 2019px;
	height: 968px;
	margin-left:-400px;
	background: url(../imgs/escena1/3_Nieblafrente.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa16 {
	z-index: 7;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena1/2_2o-plano.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa17 {
	z-index: 8;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena1/1_1er-plano.png) no-repeat; 
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#capa18 {
	z-index: 9;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/comunes/cenefa_oblicua.png) no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover; 
}
#primerTexto {
	height: 200px; 
}
/* SEGUNDO FOTOGRAMA */
.capa20 {
	z-index: 1;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/fondo.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa205 {
	z-index: 2;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/heroe1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa21 {
	z-index: 3;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/6_Historias-4.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa22 {
	z-index: 4;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/5_Historias-3.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa23 {
	z-index: 5;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/4_Historias-2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa24 {
	z-index: 6;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/3_Historias-1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa25 {
	z-index: 7;
	margin-top:-968px;
	width: 2019px;
	height: 968px;
	margin-left:-200px;
	background: url(../imgs/escena2/2_luces2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa26 {
	z-index: 8;
	margin-top:-968px;
	width: 2019px;
	height: 968px;
	margin-left:-200px;
	background: url(../imgs/escena2/1_luces1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* RESPUESTAS */
#contRespuesta1 {display: none};
#contRespuesta2 {display: none};
#contRespuesta3 {display: none};
#contRespuesta4 {display: none};
/* RESPUESTAS 1 */
#contRespuesta1A {
	display: none;
}
#contRespuesta1B {
	display: none;
	background-color:#f16f6e;
}
#respuesta1A .capa20 {
	z-index: 1;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/fondo.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#respuesta1A .capa205 {
	z-index: 2;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respA/Heroe-salta.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#respuesta1A .capa27 {
	z-index: 9;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respA/Heroe-atrapado.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
}
#respuesta1A .capa271 {
	z-index: 10;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respA/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
}
#respuesta1B .capa28 {
	z-index: 9;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respB/heroe-en-balsa.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#respuesta1B .capa29 {
	z-index: 10;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respB/balsa-sola.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#respuesta1B .capa30 {
	z-index: 11;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respB/heroe-salta-al-otro-lado.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
#respuesta1B .capa301 {
	z-index: 12;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena2/respB/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-top: 0px;
}
/* TERCER FOTOGRAMA */
.capa30 {
	z-index: 1;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/5_Dentro-MuroLARGA.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa31 {
	z-index: 2;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/4_Enredaderas-Datos2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa32 {
	z-index: 3;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/3_Enredaderas-Datos1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa325 {
	z-index: 4;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion2/3_Heroe2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa33 {
	z-index: 5;
	width: 1720px;
	height:1720px;
	background: url(../imgs/escena3/2_Entrada-muroLARGA.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa34 {
	z-index: 6;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/1_heroe1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa35 {
	z-index: 7;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion1/1_Heroe1-escalando.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa351 {
	z-index: 8;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion1/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa36 {
	z-index: 8;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion2/1_Heroe1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa37 {
	z-index: 9;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion2/2_complementos-Heroe2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa371 {
	z-index: 10;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena3/solucion2/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* CUARTO FOTOGRAMA */
.capa40 {
	z-index: 10;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/Fondo-sala-LARGA.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa41 {
	z-index: 20;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/Sombra-LARGA.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa42 {
	z-index: 30;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/Guardian.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa43 {
	z-index: 40;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/Heroe1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa405 {
	z-index: 15;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta1/Puerta-Abierta-LARGA.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa425 {
	z-index: 35;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta1/guardian-se-da-la-vuelta.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa44 {
	z-index: 50;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta1/Heroe-Hablando.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa45 {
	z-index: 50;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta1/Heroe-entra-por-la-puerta.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa451 {
	z-index: 52;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta1/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa415 {
	z-index: 25;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta2/guardian-desaparece-LARGA.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa46 {
	z-index: 60;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta2/Heroe-ataca.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa47 {
	z-index: 70;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta2/heroe-sorprendido-guardian-desaparece.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa471 {
	z-index: 72;
	margin-top:-968px;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena4/respuesta2/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/* QUINTO FOTOGRAMA */
.capa50 {
	z-index: 10;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/SalaLARGA.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa51 {
	z-index: 20;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/Brillo-ventanucoLARGA.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa52 {
	z-index: 30;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/dragon.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa53 {
	z-index: 40;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/heroe-1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa54 {
	z-index: 50;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/huesos-1er-planoLARGA.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa521 {
	z-index: 31;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/dragon-sin-cabeza.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa522 {
	z-index: 32;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/cabeza-cortada.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa523 {
	z-index: 33;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/dragon-2-cabezas.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa524 {
	z-index: 34;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/dragon-devora-al-heroe.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa525 {
	z-index: 35;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/Heroe1.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa526 {
	z-index: 36;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/Heroe2.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa501 {
	z-index: 11;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/cofre-abierto-LARGA.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa532 {
	z-index: 42;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/Dragon-Baila.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa533 {
	z-index: 43;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/Heroe-cantando.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa534 {
	z-index: 44;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/heroe-llave-cofre.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa535 {
	z-index: 45;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/heroe-con-engagement.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa541 {
	z-index: 52;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion1/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.capa542 {
	z-index: 52;
	width: 1720px;
	height: 968px;
	background: url(../imgs/escena5/solucion2/textoSolucion.png) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

