@charset "utf-8";
body, html {
	background-color:#f16f6e;
}
.textoDesbloqueado {
	background-color:#f16f6e;
}
.conTextoDesbloqueado {
	/* [disabled]width:1000px; */
	margin: 0 auto;
	max-width: 1000px;
	background:url(../imgs/comunes/fondoDesb.png) center repeat-y;
}
.tdColIzq {
	width:133px; 
	float: left; 
	background:url(../imgs/comunes/textoDesLB.png) bottom right no-repeat;
}
.tdColDer{
	width:136px; 
	float: left; 
	background:url(../imgs/comunes/textoDesRB.png) bottom right no-repeat;
}
.tdCentral {
	max-width:700px; 
	background-color: white; 
	padding: 15px; 
	font-family: 'Open Sans', sans-serif; 
	line-height: 1.6em; 
	text-align:justify; 
	font-weight: 400;  
	margin: 0 auto;
}
.tdTopRow1 {
		background:url(../imgs/comunes/fondoTopDesSin.png) center no-repeat;
		height: 90px;
}
.tdBottomRow {
		background:url(../imgs/comunes/fondoDesAbajo.png) center no-repeat;
		height: 95px;
}
.tdCentral strong {
	font-weight: 700;
}
hr {
	margin: 20px;
	border: 1px solid #f16f6e;
	
}
.textoFinal {
	background-color: white;
	width: 100%;
}
.contenedorTF {
	margin:0 auto;
	padding: 0 50px;
	max-width:1000px;
}
.imgFinal {
	width: 150px;
	margin-right: 10px;
	float: left;
}
.txtFinal {
	float:left;
	font-family: 'Open Sans', sans-serif; 
	line-height: 1.5em; 
	font-size: 1em;
	width: 700px;
	font-weight: 400;
	color: #898278;
	text-justify:auto;
	text-align:justify;
}
.txtFinal strong {
	font-weight: 700;
	
}
.dmasi {
	width:50%; 
	float: left;
	font-family: 'Open Sans', sans-serif; 
	line-height: 2em; 
	font-size: 0.875em;
	color: black;
	text-align: justify;
	text-justify:newspaper;
	
}
.dmasi a {
	text-decoration: none;
	color: #008e3c;
	
}
.aclarar {
	clear: left;
}
.tirallyc {
	width:100%; 
	background: black url(../imgs/comunes/tiraArriba.png) no-repeat left top; 
	height:50px;
}
.tirallyc {
	width:100%; 
	background: black url(../imgs/comunes/tiraArriba.png) no-repeat left top; 
	height:50px;
}

